@import 'src/assets/scss/colors';

.connection-expanded {
  border-top: 1px solid rgba(0,0,0,0.25);

  .share {
    margin: 16px 0 16px 128px;

    .share-button {
      padding: 8px;
    }
  }
}

.map-button {
  margin-left: 16px;
}

@media screen and (max-width: 640px) {

  .share {
    margin-left: 16px;
  }
}
