<div class="connections-form">
    <div class="connections-form__stations">
        <app-input-station-typeahead [(value)]="departureStationValue" class="departure-input" placeholder="Departure"></app-input-station-typeahead>
    </div>
    <div class="connetions-form__datetime">
        <input type="date" class="input-date" [(ngModel)]="departureDate">
        <input type="time" class="input-time" [(ngModel)]="departureTime">
    </div>
    <div class="search-button__wrapper">
        <button class="search-button" (click)="searchDepartures()">Search</button>
    </div>
</div>
