<div class="connections-form">
    <div class="connections-form__stations">
        <app-input-station-typeahead [(value)]="departureStationValue" class="departure-input"></app-input-station-typeahead>
        <button (click)="switchInputs()" class="switch-button">Switch</button>
        <app-input-station-typeahead [(value)]="arrivalStationValue" class="arrival-input"></app-input-station-typeahead>
    </div>
    <div class="connetions-form__datetime">
        <input type="date" class="input-date">
        <input type="time" class="input-time">
    </div>
    <div class="search-button__wrapper">
        <button class="search-button">Search</button>
    </div>
</div>
