@import 'src/assets/scss/colors';

.station-input {
  font-family: Arial, sans-serif;
  width: 256px;

  .input {
    height: 32px;
    width: 248px;
    font-size: 16px;
  }

  .typeahead {
    border: 1px solid $color-black;
    border-top: none;
    z-index: 99;
    position: absolute;
    background-color: $color-white;
    width: 253px;

    &__suggestion {
      padding: 6px;

      &:hover {
        background-color: rgba(183, 183, 183, 0.25);
      }
    }

  }
}

@media screen and (max-width: 640px) {
  .station-input {
    margin: 0 0 0 50%;
    transform: translateX(calc(-50% - 6px) );
  }
}
