<div class="connection" [ngClass]="{'expanded': isExpanded}">
    <div class="connection__wrapper" (click)="toggleExpanded()">
        <div class="from-infos">
            <div class="infos">
                <p>{{connection.from.station.name}}</p>
                <p>{{formatTime(connection.from.departure)}}</p>
                <p>{{formatPlatform(connection.from.platform)}}</p>
            </div>
        </div>
        <div class="journey">
            <div class="arrow"></div>
        </div>
        <div class="to-infos">
            <div class="infos">
                <p>{{connection.to.station.name}}</p>
                <p>{{formatTime(connection.to.arrival)}}</p>
                <p>{{formatPlatform(connection.to.platform)}}</p>
            </div>
        </div>
        <div class="connection-info">
            <div class="infos products">
                <p *ngFor="let product of connection.products">{{product}}</p>
            </div>
        </div>
    </div>
    <app-connection-expanded *ngIf="isExpanded" [connection]="connection"></app-connection-expanded>
</div>
