<div class="wrapper">
    <div class="switcher">
        <div class="switcher__option" [ngClass]="{'switcher__chosen': tab === 'connections'}" (click)="navigateTo('connections')"><p>Connections</p></div>
        <div class="switcher__option" [ngClass]="{'switcher__chosen': tab === 'departures'}" (click)="navigateTo('departures')"><p>Departures</p></div>
    </div>
    <app-search-form-connections *ngIf="formType === 'connections'" (connection-search)="emitConnections($event)"></app-search-form-connections>
    <app-search-form-departures *ngIf="formType === 'departures'" (departure-search)="emitDepartures($event)"></app-search-form-departures>
</div>
