<div class="connection">
    <div class="from-infos">
        <div class="infos">
            <p>Luzern</p>
            <p>17:30</p>
            <p>Pl. 4</p>
        </div>
    </div>
    <div class="journey">
        <div class="stop">
            <p class="stop__name">Sursee</p>
            <p>-></p>
        </div>
        <div class="stop">
            <p class="stop__name">Zofingen</p>
            <p>-></p>
        </div>
    </div>
    <div class="to-infos">
        <div class="infos">
            <p>Olten</p>
            <p>17:56</p>
            <p>Pl. 8</p>
        </div>
    </div>
    <div class="connection-info">
        <div class="infos products">
            <p>RE 17</p>
        </div>
    </div>
</div>
