@import 'src/assets/scss/colors';

.connection {
  width: calc(100% - 64px);
  border: 1px solid $color-black;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  margin: 0 0 16px 40px;
  font-family: Arial, sans-serif;

  &__infos {
    display: flex;
  }

  &:hover {
    transform: scale(1.0025);
  }

  .journey {
    width: 55%;
    height: 100%;
    display: flex;

    .arrow {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid $color-black;
    }
  }

  .from-infos, .to-infos, .connection-info {
    height: 100%;
    width: 15%;
  }

  .infos {
    margin: 12px 0 0 50%;
    transform: translateX(-50%);
    text-align: center;

    p {
      margin: 0;
    }
  }

  .products {
    font-weight: bold;
  }
}

.is-expanded {
  height: auto;
}


@media screen and (max-width: 640px) {
  .infos {
    margin: 4px 0 0 50%;
  }
}
